# Kaggle Spaceship Titanic

### Hi it's my first Kaggle competition. In this i try to figure out this problem. Yes, the results are not very good, but I tried

In [1]:
import pandas as pd 
import numpy as np

In [2]:
data = pd.read_csv('train.csv')
data.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [3]:
data.isna().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [4]:
data['Transported'] = data['Transported'].astype(float)

In [5]:
data.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,0.0
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,1.0
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,0.0
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,0.0
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,1.0

In [6]:
Group = data['PassengerId'].str.split('_').str.get(0)
# Group = Group.g
People = data['PassengerId'].str.split('_').str.get(1)

data['Group'], data['People'] = Group, People

data.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Group,People
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,0.0,0001,01
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,1.0,0002,01
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,0.0,0003,01
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,0.0,0003,02
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,1.0,0004,01

In [7]:
Deck = data['Cabin'].str.split('/').str.get(0)
Num = data['Cabin'].str.split('/').str.get(1)
Side = data['Cabin'].str.split('/').str.get(2)
data['Deck'], data['Num'], data['Side'] = Deck, Num, Side
data.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Group,People,Deck,Num,Side
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,0.0,0001,01,B,0,P
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,1.0,0002,01,F,0,S
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,0.0,0003,01,A,0,S
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,0.0,0003,02,A,0,S
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,1.0,0004,01,F,1,S

In [8]:
Total_Bill = data['FoodCourt'] + data['ShoppingMall']+data['RoomService'] + data['Spa']+data['VRDeck']
data['Total_Bill'] = Total_Bill
data.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Group,People,Deck,Num,Side,Total_Bill
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,0.0,0001,01,B,0,P,0.0
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,1.0,0002,01,F,0,S,736.0
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,0.0,0003,01,A,0,S,10383.0
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,0.0,0003,02,A,0,S,5176.0
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,1.0,0004,01,F,1,S,1091.0

In [9]:
data['Destination'].value_counts()

Destination
TRAPPIST-1e      5915
55 Cancri e      1800
PSO J318.5-22     796
Name: count, dtype: int64

In [10]:
data['VIP'] = data['VIP'].astype(float)
data['CryoSleep'] = data['CryoSleep'].astype(float)

data['Age'] = data['Age'].fillna(data['Age'].mean())

In [11]:
age_group = ['under 18','18-40','40-60','60-80','80-100']
def choose_group(x):
    if x<18:
        return age_group[0]
    elif 41>x>17:
        return age_group[1]
    elif 61>x>40:
        return age_group[2]
    elif 81>x>60:
        return age_group[3]
    elif 101>x>80:
        return age_group[4]
    else:
        return x
data['Age'] = data['Age'].apply(choose_group)

data.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Group,People,Deck,Num,Side,Total_Bill
0,0001_01,Europa,0.0,B/0/P,TRAPPIST-1e,18-40,0.0,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,0.0,0001,01,B,0,P,0.0
1,0002_01,Earth,0.0,F/0/S,TRAPPIST-1e,18-40,0.0,109.0,9.0,25.0,549.0,44.0,Juanna Vines,1.0,0002,01,F,0,S,736.0
2,0003_01,Europa,0.0,A/0/S,TRAPPIST-1e,40-60,1.0,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,0.0,0003,01,A,0,S,10383.0
3,0003_02,Europa,0.0,A/0/S,TRAPPIST-1e,18-40,0.0,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,0.0,0003,02,A,0,S,5176.0
4,0004_01,Earth,0.0,F/1/S,TRAPPIST-1e,under 18,0.0,303.0,70.0,151.0,565.0,2.0,Willy Santantines,1.0,0004,01,F,1,S,1091.0

In [12]:
data['HomePlanet'].value_counts(normalize=True)

HomePlanet
Earth     0.541922
Europa    0.250942
Mars      0.207136
Name: proportion, dtype: float64

In [13]:
data['HomePlanet'] = data['HomePlanet'].fillna(pd.Series(np.random.choice(
    ['Earth','Europa','Mars'],
    p=[0.54, 0.25, 0.21], size=len(data))))
data['HomePlanet'].value_counts(normalize=True)

HomePlanet
Earth     0.542160
Europa    0.250546
Mars      0.207293
Name: proportion, dtype: float64

In [14]:
data['CryoSleep'].value_counts(normalize=True)

CryoSleep
0.0    0.641694
1.0    0.358306
Name: proportion, dtype: float64

In [15]:
data['CryoSleep'] = data['CryoSleep'].fillna(pd.Series(np.random.choice(
    [False, True],
    p=[0.64, 0.36], size=len(data))))
data['CryoSleep'].value_counts(normalize=True)

CryoSleep
0.0    0.641436
1.0    0.358564
Name: proportion, dtype: float64

In [16]:
data['Destination'].value_counts(normalize=True)

Destination
TRAPPIST-1e      0.694983
55 Cancri e      0.211491
PSO J318.5-22    0.093526
Name: proportion, dtype: float64

In [17]:


#Fill in missing values of Destination
data['Destination'] = data['Destination'].fillna(pd.Series(np.random.choice(
    ['TRAPPIST-1e','55 Cancri e','PSO J318.5-22'],
    p=[0.69, 0.21, 0.1], size=len(data))))
data['Destination'].value_counts(normalize=True)

Destination
TRAPPIST-1e      0.694812
55 Cancri e      0.211319
PSO J318.5-22    0.093869
Name: proportion, dtype: float64

In [18]:
data['VIP'].value_counts(normalize=True)

VIP
0.0    0.976561
1.0    0.023439
Name: proportion, dtype: float64

In [19]:
data['VIP'] = data['VIP'].fillna(pd.Series(np.random.choice(
    [False, True],
    p=[0.97, 0.03], size=len(data))))
data['VIP'].value_counts(normalize=True)

VIP
0.0    0.976418
1.0    0.023582
Name: proportion, dtype: float64

In [20]:
data['Age'].value_counts(normalize=True)

Age
18-40       0.623145
under 18    0.177729
40-60       0.173818
60-80       0.025308
Name: proportion, dtype: float64

In [21]:
data['Age'] = data['Age'].fillna(pd.Series(np.random.choice(
    ['18-40','under 18','40-60', '60-80',"80-100"],
    p=[0.62, 0.1777, 0.173, 0.02,0.0093], size=len(data))))
data['Age'].value_counts(normalize=True)

Age
18-40       0.623145
under 18    0.177729
40-60       0.173818
60-80       0.025308
Name: proportion, dtype: float64

In [22]:
data['Deck'].value_counts(normalize=True)

Deck
F    0.328938
G    0.301271
E    0.103132
B    0.091712
C    0.087944
D    0.056275
A    0.030139
T    0.000589
Name: proportion, dtype: float64

In [23]:
data['Deck'] = data['Deck'].fillna(pd.Series(np.random.choice(
    ['F','G','E','B','C','D','A','T'],
    p=[0.33,0.30,0.10,0.09,0.09,0.06,0.03,0.0], size=len(data))))
data['Deck'].value_counts(normalize=True)

Deck
F    0.329345
G    0.301852
E    0.102726
B    0.091338
C    0.087197
D    0.057057
A    0.029909
T    0.000575
Name: proportion, dtype: float64

In [24]:
data['Side'].value_counts(normalize=True)

Side
S    0.504827
P    0.495173
Name: proportion, dtype: float64

In [25]:
data['Side'] = data['Side'].fillna(pd.Series(np.random.choice(
    ['S', 'P'],
    p=[0.50, 0.50], size=len(data))))
data['Side'].value_counts(normalize=True)

Side
S    0.503509
P    0.496491
Name: proportion, dtype: float64

In [26]:
data['Total_Bill'].fillna(data['Total_Bill'].mean(), inplace=True)

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 20 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8693 non-null   object
 2   CryoSleep     8693 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8693 non-null   object
 5   Age           8693 non-null   object
 6   VIP           8693 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   float64
 14  Group         8693 non-null   object
 15  People        8693 non-null   object
 16  Deck          8693 non-null   object
 17  Num           8494 non-null   object
 18  Side          8693 non-null   object
 19  Total_Bill    8693 non-null   float64
dtypes: float64(7), object(13)
memory usage: 1.3+ MB

In [28]:
data = data.drop(['PassengerId','Cabin', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa','VRDeck', 'Name', 'Num', 'Group'], axis=1)

In [29]:
data.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,Transported,People,Deck,Side,Total_Bill
0,Europa,0.0,TRAPPIST-1e,18-40,0.0,0.0,01,B,P,0.0
1,Earth,0.0,TRAPPIST-1e,18-40,0.0,1.0,01,F,S,736.0
2,Europa,0.0,TRAPPIST-1e,40-60,1.0,0.0,01,A,S,10383.0
3,Europa,0.0,TRAPPIST-1e,18-40,0.0,0.0,02,A,S,5176.0
4,Earth,0.0,TRAPPIST-1e,under 18,0.0,1.0,01,F,S,1091.0

In [30]:
from sklearn.preprocessing import OrdinalEncoder,StandardScaler,MinMaxScaler

In [31]:
encoder = OrdinalEncoder()
data[['Deck','Age']] = encoder.fit_transform(data[['Deck','Age']])

In [32]:
data.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,Transported,People,Deck,Side,Total_Bill
0,Europa,0.0,TRAPPIST-1e,0.0,0.0,0.0,01,1.0,P,0.0
1,Earth,0.0,TRAPPIST-1e,0.0,0.0,1.0,01,5.0,S,736.0
2,Europa,0.0,TRAPPIST-1e,1.0,1.0,0.0,01,0.0,S,10383.0
3,Europa,0.0,TRAPPIST-1e,0.0,0.0,0.0,02,0.0,S,5176.0
4,Earth,0.0,TRAPPIST-1e,3.0,0.0,1.0,01,5.0,S,1091.0

In [33]:
scal = MinMaxScaler()
data[['Total_Bill']] = scal.fit_transform(data[['Total_Bill']])
data.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,Transported,People,Deck,Side,Total_Bill
0,Europa,0.0,TRAPPIST-1e,0.0,0.0,0.0,01,1.0,P,0.000000
1,Earth,0.0,TRAPPIST-1e,0.0,0.0,1.0,01,5.0,S,0.020452
2,Europa,0.0,TRAPPIST-1e,1.0,1.0,0.0,01,0.0,S,0.288521
3,Europa,0.0,TRAPPIST-1e,0.0,0.0,0.0,02,0.0,S,0.143830
4,Earth,0.0,TRAPPIST-1e,3.0,0.0,1.0,01,5.0,S,0.030317

In [34]:
data['Side'].value_counts()

Side
S    4377
P    4316
Name: count, dtype: int64

In [35]:
data['Destination'].value_counts()

Destination
TRAPPIST-1e      6040
55 Cancri e      1837
PSO J318.5-22     816
Name: count, dtype: int64

In [36]:
data['HomePlanet'].value_counts()

HomePlanet
Earth     4713
Europa    2178
Mars      1802
Name: count, dtype: int64

In [37]:

from sklearn.preprocessing import OneHotEncoder
arr = ['HomePlanet_Earth','HomePlanet_Europa','HomePlanet_Mars']
coder = OneHotEncoder()
data[arr] = coder.fit_transform(data[['HomePlanet']]).toarray()
data.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,Transported,People,Deck,Side,Total_Bill,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars
0,Europa,0.0,TRAPPIST-1e,0.0,0.0,0.0,01,1.0,P,0.000000,0.0,1.0,0.0
1,Earth,0.0,TRAPPIST-1e,0.0,0.0,1.0,01,5.0,S,0.020452,1.0,0.0,0.0
2,Europa,0.0,TRAPPIST-1e,1.0,1.0,0.0,01,0.0,S,0.288521,0.0,1.0,0.0
3,Europa,0.0,TRAPPIST-1e,0.0,0.0,0.0,02,0.0,S,0.143830,0.0,1.0,0.0
4,Earth,0.0,TRAPPIST-1e,3.0,0.0,1.0,01,5.0,S,0.030317,1.0,0.0,0.0

In [38]:
arr1 = ['TRAPPIST-1e','55 Cancri e','PSO J318.5-22']
data[arr1] = coder.fit_transform(data[['Destination']]).toarray()

In [39]:
arr2 = ['S','P']
data[arr2] = coder.fit_transform(data[['Side']]).toarray()

In [40]:
data.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,Transported,People,Deck,Side,Total_Bill,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,TRAPPIST-1e,55 Cancri e,PSO J318.5-22,S,P
0,Europa,0.0,TRAPPIST-1e,0.0,0.0,0.0,01,1.0,P,0.000000,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0
1,Earth,0.0,TRAPPIST-1e,0.0,0.0,1.0,01,5.0,S,0.020452,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
2,Europa,0.0,TRAPPIST-1e,1.0,1.0,0.0,01,0.0,S,0.288521,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
3,Europa,0.0,TRAPPIST-1e,0.0,0.0,0.0,02,0.0,S,0.143830,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
4,Earth,0.0,TRAPPIST-1e,3.0,0.0,1.0,01,5.0,S,0.030317,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0

In [41]:
data.drop(['HomePlanet','Destination','Side'], axis=1, inplace=True)

In [42]:
data.head()

,CryoSleep,Age,VIP,Transported,People,Deck,Total_Bill,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,TRAPPIST-1e,55 Cancri e,PSO J318.5-22,S,P
0,0.0,0.0,0.0,0.0,01,1.0,0.000000,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0
1,0.0,0.0,0.0,1.0,01,5.0,0.020452,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
2,0.0,1.0,1.0,0.0,01,0.0,0.288521,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
3,0.0,0.0,0.0,0.0,02,0.0,0.143830,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
4,0.0,3.0,0.0,1.0,01,5.0,0.030317,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0

In [43]:
Y = data['Transported']
X = data.drop(['Transported'], axis=1)

In [44]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

In [45]:
from sklearn.metrics import accuracy_score

reg = LinearRegression()
model = reg.fit(X_train,Y_train)

y_pred = model.predict(X_test)
y_pred = np.where(y_pred > 0.57, 1, 0)
accuracy_score(Y_test, y_pred)

0.7232485186476124

In [177]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
scaler = MinMaxScaler()
x_scaled = scaler.fit_transform(X_train)
x_test_scaled = scaler.transform(X_test)
knn = KNeighborsClassifier(n_neighbors=22)
# Print the accuracy on the test set
# param_grid = {'n_neighbors': range(1,99)}
# grid_search = GridSearchCV(knn, param_grid, cv=4).fit(x_scaled, Y_train)
knn.fit(x_scaled,Y_train)
print(knn.score(x_test_scaled,Y_test))
# print(grid_search.)

0.7239456256535378

In [179]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV


#Scale the X since it needed for most models

model_grids = [] # We will keep trained models here to print the result easier
# k-NN
knn = KNeighborsClassifier()
knn_grid = GridSearchCV(knn,
                        {'n_neighbors': [i for  i in range(1,30)]},
                        scoring='recall').fit(x_scaled, Y_train)
model_grids.append(knn_grid)
# Logistic Regression
lr = LogisticRegression()
lr_grid = GridSearchCV(lr,
                       {'C': [i/10 for i in range(1,100,1)]},
                       scoring='recall').fit(x_scaled, Y_train)
model_grids.append(lr_grid)
# Decision Tree
dt = DecisionTreeClassifier()
dt_grid = GridSearchCV(dt,
                       {'max_depth': [i for i in range(1,21)], 'min_samples_leaf': [i for i in range(1,21)]},
                       scoring='recall').fit(x_scaled, Y_train)
model_grids.append(dt_grid)
# Random Forest
rf = RandomForestClassifier()
rf_grid = GridSearchCV(rf,
                       {'max_depth': [i for i in range(1,21)], 'n_estimators': [i for i in range(10,200,10)]},
                       scoring='recall').fit(x_scaled, Y_train)
model_grids.append(rf_grid)

for model in model_grids:
    print(model.best_estimator_, ' recall:', model.best_score_)

KNeighborsClassifier(n_neighbors=9)  recall: 0.6750696257362304
LogisticRegression(C=1.3)  recall: 0.653259763592281
DecisionTreeClassifier(max_depth=4, min_samples_leaf=7)  recall: 0.6911024414068178
RandomForestClassifier(max_depth=20, n_estimators=60)  recall: 0.6887162700373857

In [199]:
dt1 = DecisionTreeClassifier(max_depth=7, min_samples_leaf=9)
dt1.fit(x_scaled, Y_train)
print(dt1.score(x_test_scaled,Y_test))

0.7389334262809342

In [201]:
param_grid = {
    'max_depth': [1,5,8,10,12],
    'min_samples_leaf': [1,10,20,50,100],
    'criterion': ["gini", "entropy"]
}
tuning = GridSearchCV(DecisionTreeClassifier(), param_grid = param_grid, cv = 3, verbose=1, n_jobs=-1)
best_tuning = tuning.fit(x_scaled, Y_train)

Fitting 3 folds for each of 50 candidates, totalling 150 fits

In [202]:
TR = best_tuning.best_estimator_

In [204]:


TR.fit(x_scaled, Y_train)
y_pred_TR = TR.predict(x_test_scaled)

In [205]:
TR_accuracy = accuracy_score(Y_test, y_pred_TR)
TR_accuracy

0.7284768211920529

In [210]:
rf = RandomForestClassifier()
rf_grid  = {'max_depth': [i for i in range(1,10)], 'n_estimators': [i for i in range(10,151,10)]}
                       
tun = GridSearchCV(rf,rf_grid, cv = 3, verbose=1)
best = tun.fit(x_scaled, Y_train)

Fitting 3 folds for each of 135 candidates, totalling 405 fits

In [211]:
tf = best.best_estimator_
tf.fit(x_scaled, Y_train)
y_pred_tf = tf.predict(x_test_scaled)

In [212]:
tf_accuracy = accuracy_score(Y_test, y_pred_tf)
tf_accuracy

0.734402230742419

In [213]:
t = pd.read_csv('test.csv')
test = pd.read_csv('test.csv')

In [214]:
Group = test['PassengerId'].str.split('_').str.get(0)
# Group = Group.g
People = test['PassengerId'].str.split('_').str.get(1)

test['Group'], test['People'] = Group, People
Deck = test['Cabin'].str.split('/').str.get(0)
Num = test['Cabin'].str.split('/').str.get(1)
Side = test['Cabin'].str.split('/').str.get(2)
test['Deck'], test['Num'], test['Side'] = Deck, Num, Side
Total_Bill = test['FoodCourt'] + test['ShoppingMall'] + test['RoomService'] + test['Spa'] + test['VRDeck']
test['Total_Bill'] = Total_Bill

test['VIP'] = test['VIP'].astype(float)
test['CryoSleep'] = test['CryoSleep'].astype(float)

test['Age'] = test['Age'].fillna(test['Age'].mean())

age_group = ['under 18','18-40','40-60','60-80','80-100']
def choose_group(x):
    if x<18:
        return age_group[0]
    elif 41>x>17:
        return age_group[1]
    elif 61>x>40:
        return age_group[2]
    elif 81>x>60:
        return age_group[3]
    elif 101>x>80:
        return age_group[4]
    else:
        return x
test['Age'] = test['Age'].apply(choose_group)


test['HomePlanet'] = test['HomePlanet'].fillna(pd.Series(np.random.choice(
    ['Earth','Europa','Mars'],
    p=[0.54, 0.25, 0.21], size=len(test))))
test['HomePlanet'].value_counts(normalize=True)

test['CryoSleep'].value_counts(normalize=True)
test['CryoSleep'] = test['CryoSleep'].fillna(pd.Series(np.random.choice(
    [False, True],
    p=[0.64, 0.36], size=len(test))))
test['CryoSleep'].value_counts(normalize=True)

test['Destination'].value_counts(normalize=True)
test['Destination'] = test['Destination'].fillna(pd.Series(np.random.choice(
    ['TRAPPIST-1e','55 Cancri e','PSO J318.5-22'],
    p=[0.69, 0.21, 0.1], size=len(test))))
test['Destination'].value_counts(normalize=True)

test['VIP'].value_counts(normalize=True)
test['VIP'] = test['VIP'].fillna(pd.Series(np.random.choice(
    [False, True],
    p=[0.97, 0.03], size=len(test))))
test['VIP'].value_counts(normalize=True)


test['Age'].value_counts(normalize=True)
test['Age'] = test['Age'].fillna(pd.Series(np.random.choice(
    ['18-40','under 18','40-60', '60-80',"80-100"],
    p=[0.62, 0.1777, 0.173, 0.02,0.0093], size=len(test))))
test['Age'].value_counts(normalize=True)

test['Deck'].value_counts(normalize=True)
test['Deck'] = test['Deck'].fillna(pd.Series(np.random.choice(
    ['F','G','E','B','C','D','A','T'],
    p=[0.33,0.30,0.10,0.09,0.09,0.06,0.03,0.0], size=len(test))))
test['Deck'].value_counts(normalize=True)

test['Side'].value_counts(normalize=True)
test['Side'] = test['Side'].fillna(pd.Series(np.random.choice(
    ['S', 'P'],
    p=[0.50, 0.50], size=len(test))))
test['Side'].value_counts(normalize=True)

test['Total_Bill'].fillna(test['Total_Bill'].mean(), inplace=True)

test = test.drop(['PassengerId', 'Cabin', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck', 'Name', 'Num', 'Group'], axis=1)


encoder = OrdinalEncoder()
test[['Deck', 'Age']] = encoder.fit_transform(test[['Deck', 'Age']])
scal = MinMaxScaler()
test[['Total_Bill']] = scal.fit_transform(test[['Total_Bill']])

arr = ['HomePlanet_Earth','HomePlanet_Europa','HomePlanet_Mars']
coder = OneHotEncoder()
test[arr] = coder.fit_transform(test[['HomePlanet']]).toarray()

arr1 = ['TRAPPIST-1e','55 Cancri e','PSO J318.5-22']
test[arr1] = coder.fit_transform(test[['Destination']]).toarray()

arr2 = ['S','P']
test[arr2] = coder.fit_transform(test[['Side']]).toarray()

test.drop(['HomePlanet', 'Destination', 'Side'], axis=1, inplace=True)

In [215]:
test.head()

,CryoSleep,Age,VIP,People,Deck,Total_Bill,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,TRAPPIST-1e,55 Cancri e,PSO J318.5-22,S,P
0,1.0,0.0,0.0,01,6.0,0.000000,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1,0.0,0.0,0.0,01,5.0,0.084120,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
2,1.0,0.0,0.0,01,2.0,0.000000,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,01,2.0,0.220341,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
4,0.0,0.0,0.0,01,5.0,0.019159,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0

In [216]:
y_result = dt1.predict(test)
y_result

C:\Users\strat\ProgramData\Lib\site-packages\sklearn\base.py:457: UserWarning: X has feature names, but DecisionTreeClassifier was fitted without feature names
  warnings.warn(

array([1., 0., 1., ..., 1., 0., 1.])

In [217]:
output = pd.DataFrame({'PassengerId': t.PassengerId, 'Transported':y_result})
output

     PassengerId  Transported
0        0013_01          1.0
1        0018_01          0.0
2        0019_01          1.0
3        0021_01          0.0
4        0023_01          1.0
...          ...          ...
4272     9266_02          1.0
4273     9269_01          1.0
4274     9271_01          1.0
4275     9273_01          0.0
4276     9277_01          1.0

[4277 rows x 2 columns]

In [218]:
output['Transported'] = output['Transported'].astype('boolean')

In [219]:
output.to_csv(r'/kaggle/working/submission.csv', index=False)